﻿<nav aria-label="Page navigation example" class="full-pagi">

    <ul class="pagination">
        @foreach (var link in links)
        {
            <li @onclick="@(() => SelectedPageInternal(link))"
                style="cursor: pointer;"
                class="page-item @(link.Enabled ? null : "disabled") @(link.Active ? "active" : null)">
                <a class="page-link @(link.Text=="pvr"||link.Page==CurrentPage?"pvr":"") @(link.Enabled ? null : "disabled") @(link.Active ? "active" : null)" href="javascript:void(0)" >@link.Text</a>
            </li>
        }
    </ul>
</nav>


