﻿
<link rel="stylesheet" type="text/css" href="template/css/animate.css">
<link rel="stylesheet" type="text/css" href="template/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="template/css/jquery.range.css">
<link rel="stylesheet" type="text/css" href="template/css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="template/css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="template/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="template/lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="template/lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="template/css/style.css">
<link rel="stylesheet" type="text/css" href="template/css/responsive.css">