﻿@using Jolijober.ViewModel; 
@using JolijoberProject.Shared.SharedKernal.EnumClass;
@{ 
    Layout = "";
    SignUpViewModel signupvm = new SignUpViewModel();
}
@model SignInViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jolijober-Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <base href="~/" />
    <link rel="stylesheet" type="text/css" href="template/css/animate.css">
    <link rel="stylesheet" type="text/css" href="template/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="template/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="template/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="template/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="template/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="template/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="template/css/style.css">
    <link rel="stylesheet" type="text/css" href="template/css/responsive.css">
</head>

<!--green #19a974  <--- default #e75348-->
<!--green dark #169365 <---  default #e44d3a-->
<!--Jolijober  <---  Workwise -->

<body class="sign-in">


    <div class="wrapper">


        <div class="sign-in-page">
            <div class="signin-popup">
                <div class="signin-pop">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cmp-info">
                                <div class="cm-logo">
                                    <!-- <img src="template/images/cm-logo.png" alt=""> -->
                                    <h1 class="h1 mb-3 pl-2 pt-2" style="
                                        border-left: 5px solid #19a974;
                                        border-top: 5px solid #19a974;
                                        border-style: dotted;">
                                        Jolijober
                                    </h1>
                                    <p>Jolijober,  is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>

                                    <a class="btn default-btn" href="/ShowJob">get a job now!</a>
                                </div><!--cm-logo end-->
                                <img src="template/images/cm-main-img.png" alt=""> 
                            </div><!--cmp-info end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="login-sec">
                                <ul class="sign-control">
                                    <li data-tab="tab-1" class="current"><a href="#" title="">Sign in</a></li>
                                    <li data-tab="tab-2"><a href="#" title="">Sign up</a></li>
                                </ul>
                                <div class="sign_in_sec current" id="tab-1">

                                    <h3>Sign in</h3>
                                    <form asp-controller="Account" asp-action="Login"  method="post">
                                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                                        <div class="row">
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="text" asp-for="UserName" placeholder="Username">
                                                    <i class="la la-user"></i>
                                                </div><!--sn-field end-->
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="password" autocomplete="off" asp-for="Password" placeholder="Password">
                                                    <i class="la la-lock"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="checky-sec">
                                                    <div class="fgt-sec">
                                                        <input type="checkbox" asp-for="RememberMe" id="c1">
                                                        <label for="c1">
                                                            <span></span>
                                                        </label>
                                                        <small>Remember me</small>
                                                    </div><!--fgt-sec end-->
                                                    <a href="" title="">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                            <div class="col-lg-12 no-pdd">
                                                <button type="submit" value="submit">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="login-resources">
                                        <h4>Login Via Social Account</h4>
                                        <ul>
                                            <li><a href="#" title="" class="fb"><i class="fa fa-facebook"></i>Login Via Facebook</a></li>
                                            <li><a href="#" title="" class="tw"><i class="fa fa-twitter"></i>Login Via Twitter</a></li>
                                        </ul>
                                    </div><!--login-resources end-->
                                </div><!--sign_in_sec end-->
                                <div class="sign_in_sec" id="tab-2">
                                    <div class="signup-tab">
                                        <i class="fa fa-long-arrow-left"></i>
                                        <h2>hzo@jolijober.com</h2>
                                        <ul>
                                            <li data-tab="tab-3" class="current"><a href="#" title="">User</a></li>
                                            <li data-tab="tab-4"><a href="#" title="">Company</a></li>
                                        </ul>
                                    </div><!--signup-tab end-->
                                    <div class="dff-tab current" id="tab-3">
                                        <form  method="post" asp-controller="Account"  asp-action="Register" asp-route-account="@AccountTypes.User">
                                            <div class="row">
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="UserName" asp-for="@signupvm.UserName" placeholder="UserName">
                                                        <i class="la la-user"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="Country" asp-for="@signupvm.Country" placeholder="Country">
                                                        <i class="la la-globe"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="password" autocomplete="off" name="Passward" asp-for="@signupvm.Passward" placeholder="Password">
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="password" autocomplete="off" name="ConfirmPassword" asp-for="@signupvm.ConfirmPassword" placeholder="Repeat Password">
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="checky-sec st2">
                                                        <div class="fgt-sec">
                                                            <input type="checkbox" name="cc" id="c2">
                                                            <label for="c2">
                                                                <span></span>
                                                            </label>
                                                            <small>Yes, I understand and agree to the JolijoberTerms & Conditions.</small>
                                                        </div><!--fgt-sec end-->
                                                    </div>
                                                </div>
                                                <div class="text-danger">@ViewData["SignUpErorrUser"]</div> 
                                                <div class="col-lg-12 no-pdd">
                                                    <button type="submit" value="submit">Get Started</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!--dff-tab end-->
                                    <div class="dff-tab" id="tab-4">
                                        <form  asp-controller="Account"  asp-action="Register" asp-route-account="@AccountTypes.Company" method="post">
                                            <div class="row">
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="UserName" asp-for="@signupvm.UserName" placeholder="Company Name">
                                                        <i class="la la-building"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="Country" asp-for="@signupvm.Country" placeholder="Country">
                                                        <i class="la la-globe"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <select>
                                                            <option>Category</option>
                                                        </select>
                                                        <i class="la la-dropbox"></i>
                                                        <span><i class="fa fa-ellipsis-h"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="password" autocomplete="off" name="Passward" asp-for="@signupvm.Passward" placeholder="Password">
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="password" autocomplete="off" name="ConfirmPassword" asp-for="@signupvm.ConfirmPassword" placeholder="Repeat Password">
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="checky-sec st2">
                                                        <div class="fgt-sec">
                                                            <input type="checkbox" name="cc" id="c3">
                                                            <label for="c3">
                                                                <span></span>
                                                            </label>
                                                            <small>Yes, I understand and agree to the JolijoberTerms & Conditions.</small>
                                                        </div><!--fgt-sec end-->
                                                    </div>
                                                </div>
                                                <div class="text-danger">@ViewData["SignUpErorrCompany"]</div>
                                                <div class="col-lg-12 no-pdd">
                                                    <button type="submit" value="submit">Get Started</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!--dff-tab end-->
                                </div>
                            </div><!--login-sec end-->
                        </div>
                    </div>
                </div><!--signin-pop end-->
            </div><!--signin-popup end-->
            <div class="footy-sec">
                <div class="container">
                    <ul>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title="">Language</a></li>
                    </ul>
                    <p><img src="template/images/copy-icon.png" alt="">Use template by Joiljober 2020 - </p>
                    <!--Copyright Workwise 2018 -->
                </div>
            </div><!--footy-sec end-->
        </div><!--sign-in-page end-->


    </div><!--theme-layout end-->



    <script type="text/javascript" src="template/js/jquery.min.js"></script>
    <script type="text/javascript" src="template/js/popper.js"></script>
    <script type="text/javascript" src="template/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="template/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="template/js/script.js"></script>
</body>
</html>